PORTALCALC_LICENSE_PRIVATE_KEY=paste_server_private_key_here
PORTALCALC_LICENSE_ADMIN_TOKEN=paste_long_random_admin_token_here
PORTALCALC_LICENSE_DB=portalcalc_licenses.db
PORTALCALC_LICENSE_TOKEN_DAYS=30
